---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Slider from "../components/Slider.tsx";
import Categories from "../components/Categories.astro";
import ClientsSlider from "../components/ClientsSlider.astro";
---

<Layout 
  title="Heat Factory - Alta Tecnología en Calderas y Quemadores Industriales" 
  description="Líderes en venta, mantenimiento y automatización de calderas, calentadores y quemadores industriales en Perú."
>
	<Header client:load />
	<Slider client:load />
	
	<main>
		<Categories />
		<ClientsSlider />
	</main>
</Layout>
